In [16]:
import os
import sqlite3
import pandas as pd

os.chdir('/
conn = sqlite3.connect("Chinook_Sqlite.sqlite")

In [14]:
query = "Select * FROM Customer LIMIT 5;"
df = pd.read_sql(query, conn)
df.head()

DatabaseError: Execution failed on sql 'Select * FROM Customer LIMIT 5;': no such table: Customer

In [8]:
# SQL query: Join invoices, customers, employees, and tracks

SELECT 
    c.CustomerId,
    c.FirstName AS CustomerFirstName,
    c.LastName AS CustomerLastName,
    e.FirstName AS SupportRepFirstName,
    e.LastName AS SupportRepLastName,
    i.InvoiceId,
    i.InvoiceDate,
    i.Total,
    il.TrackId,
    t.Name AS TrackName,
    a.Title AS AlbumTitle,
    ar.Name AS ArtistName,
    g.Name AS Genre,
    t.UnitPrice
FROM 
    Invoice i
JOIN 
    Customer c ON i.CustomerId = c.CustomerId
JOIN 
    Employee e ON c.SupportRepId = e.EmployeeId
JOIN 
    InvoiceLine il ON i.InvoiceId = il.InvoiceId
JOIN 
    Track t ON il.TrackId = t.TrackId
JOIN 
    Album a ON t.AlbumId = a.AlbumId
JOIN 
    Artist ar ON a.ArtistId = ar.ArtistId
JOIN 
    Genre g ON t.GenreId = g.GenreId
LIMIT 100;

IndentationError: unexpected indent (1709481027.py, line 4)